* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #33939d;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  nav {
    display: flex;
    justify-content: center;
  }
  
  nav a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
    font-size: 1.25rem;
  }
  
  nav a:hover {
    background-color: #fff;
    color: #333;
  }
  
  .compare {
    margin: 50px auto;
    width: 90%;
  }
  
  .compare h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #333;
    color: #fff;
  }
  